/** TinyMCE editor stylesheet.
 * 
 * To keep things simple and avoid duplicating a lot of style rules
 * we just import normalize.css, style.css, and custom.css, then
 * tweak as appropriate. Things may not match up perfectly since
 * a lot of the site look can be changed with the customizer.
 * 
 * @package Inkblot
 */

@import url( -/css/normalize.css );
@import url( style.css );

body {
	background: #fff;
	color: #333;
	font-family: sans-serif;
	font-size: 100%;
	margin: 1rem;
}

.wp-caption {
	background: transparent;
	border: 0;
	margin: 0;
}

.wp-caption-dd {
	font-size: smaller;
	margin: .5rem 0 0;
}}