/** git.io/normalize | MIT License | Modified by Michael Sisk */

/** Sane box model for all elements. */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/** Correct `block` display not defined in IE 8 - 9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

/** Correct `inline-block` display not defined in IE 8 - 9. */
audio,
canvas,
video {
	display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/** Correct styling for `hidden` attribute not present in IE 7 - 9, Firefox 3, and Safari 4. */
[hidden] {
	display: none;
}

/** Implement responsive objects. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/** Implement responsive videos. */
video {
	height: auto;
}

/** Remove text shadows from selected text in Firefox. */
::-moz-selection {
	text-shadow: none;
}

/** Remove text shadows from selected text. */
::selection {
	text-shadow: none;
}

/**
 * Set default font family to sans-serif.
 * Optimize text rendering for legibility.
 * Prevent iOS text size adjust after orientation change without disabling user zoom.
 */
html {
	font-family: sans-serif;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/**
 * Remove default margins.
 * Set standard line-height.
 */
body {
	margin: 0;
	line-height: 1.5;
}

/** Show default cursor on unlinked anchors. */
a:not([href]) {
	cursor: default;
}

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
	outline: thin dotted;
}

/** Improve readability when focused and hovering in all browsers. */
a:active,
a:hover {
	outline: 0;
}

/**
 * Address `<h1>` font size within `section` and `article` in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
	font-size: 2em;
}

/** Address styling not present in IE 8 - 9, Safari 5, and Chrome. */
abbr[title] {
	border-bottom: thin dotted;
	cursor: help;
}

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
	font-weight: bold;
}

/** Address styling not present in Safari 5 and Chrome. */
dfn {
	font-style: italic;
}

/** Addresses styling not present in IE 8 - 9. */
mark {
	font-style: italic;
	font-weight: bold;
}

/** Correct font family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

/** Improve readability of pre-formatted text in all browsers. */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/** Set consistent quote style. */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/** Address inconsistent and variable font size in all browsers. */
small {
	font-size: 75%;
}

/** Prevent `sub` and `sup` from affecting `line-height` in all browsers. */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/** Strip default margin, padding, and list style from navigation lists. */
nav ul,
nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/**
 * Remove border when inside `a` element in IE 8 - 9.
 * Implement responsive images.
 */
img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

/** Corrects overflow displayed oddly in IE 9. */
svg:not(:root) {
	overflow: hidden;
}

/** Better default horizontal ruler. */
hr {
	display: block;
	height: 0;
	border: 0;
	border-top: thin solid;
	margin: 1em 0;
	padding: 0;
}

/** Address margin not present in IE 8 - 9 and Safari 5. */
figure {
	margin: 0;
}

/** Define consistent border, margin, and padding. */
fieldset {
	border: thin solid;
	margin: 1em 0;
	padding: .25em .5em .75em;
}

/*
 * Correct color not being inherited in IE 8 - 9.
 * Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0;
	padding: 0;
}

/** Improve usability for clickable labels. */
label[for] {
	cursor: pointer;
}


/**
 * Correct font family not being inherited in all browsers.
 * Correct font size not being inherited in all browsers.
 * Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button,
input {
	line-height: normal;
}

/**
 * Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * Correct inability to style clickable `input` types in iOS.
 * Improve usability and consistency of cursor style between image-type `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

/** Reset default cursor for disabled elements. */
button[disabled],
input[disabled] {
	cursor: default;
}

/** Remove excess padding in IE 8 - 9. */
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

/** Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
input[type="search"] {
	-webkit-appearance: textfield;
}

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/** Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Remove default vertical scrollbar in IE 6 - 9.
 * Improve readability and alignment in all browsers.
 * Allow only vertical resizing of textareas.
 */
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

/** Remove most spacing between table cells. */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Print media styles. */
@media print {
	@page {
		margin: .5cm;
	}
	
	/** Black prints faster: h5bp.com/s */
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}
	
	a,
	a:visited {
		text-decoration: underline;
	}
	
	a[href]:after {
		content: " (" attr(href) ")";
	}
	
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	
	/** Don't show URL's for images, javascript, or internal links. */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	
	pre,
	blockquote {
		border: thin solid;
		page-break-inside: avoid;
	}
	
	/** css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}
	
	tr,
	img {
		page-break-inside: avoid;
	}
	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2,
	h3 {
		page-break-after: avoid;
	}
}