/* typography */
html             { background: #fff; color: #333; font: 75%/1.5em 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; }

/* anchors */
a                { color: #069; }
a:hover          { color: #333; }

/* text */
abbr             { border-bottom: .1em dotted; cursor: help; }
blockquote       { margin: 0 0 1.5em; padding: 0 1.5em; }
code,kbd,pre,var { font: 125% Consolas, Monaco, Courier, monospace; }
dfn,strong       { font-weight: bold; }
pre              { margin: 0 0 1.5em; padding: 0 1.5em; white-space: pre-wrap; }
em,samp          { font-style: italic; }
p                { margin: 0 0 1.5em; }
sub              { vertical-align: sub; }
sup              { vertical-align: super; }
sub,sup          { font-size: 85%; line-height: 0; }

/* headings */
h1               { font: 250%/1em Constantia, Palatino, Times, serif; margin: 0 0 .6em; }
h2               { font: 200%/1em Constantia, Palatino, Times, serif; margin: 0 0 .75em; }
h3               { font: 150%/1em Constantia, Palatino, Times, serif; margin: 0 0 1em; }
h4               { font: 125%/1em Constantia, Palatino, Times, serif; margin: 0 0 1.2em;}
h5               { font: 115%/1em Constantia, Palatino, Times, serif; margin: 0 0 1.3em; }
h6               { font: 100%/1em Constantia, Palatino, Times, serif; margin: 0 0 1.5em }

/* lists */
dl               { margin: 0 0 1.5em; }
dt               { font-weight: bold; }
dd               { margin: 0 0 1.5em 1.5em; }
ol               { list-style: decimal; }
ul               { list-style: disc; }
ol,ul            { margin: 0 0 1.5em 1.5em; padding: 0 0 0 1.5em; }
ol ol,ul ul      { margin: 0 0 0 1.5em; }

/* tables */
table            { caption-side: bottom; margin: 0 0 1.5em; width: 100%; }
caption          { font-size: 85%; padding: .25em .75em; text-align: center; }
th               { font-weight: bold; padding: .25em .75em; }
td               { padding: .25em .75em; }

/* forms */
fieldset         { margin: 0 0 1.5em;}
legend           { font-weight: bold; padding: 0 1em; }
label            { cursor: pointer; font-weight: bold; }
textarea         { font: 100% 'Lucida Sans', 'Lucida Grande', sans-serif; }

/* classes */
.align-center    { text-align: center; }
.align-justify   { text-align: justify; }
.align-left      { text-align: left; }
.align-right     { text-align: right; }
.del             { text-decoration: line-through; }
.ins             { border-bottom: .1em solid; }
.big             { font-size: 115%; }
.small           { font-size: 85%; }