.comment {
	border-bottom: $border;
	margin: 0 0 1rem;
	padding: 1rem;
	
	&-reply-title a {
		font-weight: normal;
		
		&:before {
			@include icon-font;
			
			content: '\f057';
			padding: 0 .3rem 0 0;
		}
	}
	
	&-form {
		label {
			display: block;
		}
		
		.required {
			visibility: hidden;
			
			&:before {
				@include icon-font;
				
				content: '\f069';
				visibility: visible;
			}
		}
	}
	
	&-footer {
		img {
			border-radius: 100rem;
			margin: 0 1rem 0 0;
		}
		
		a {
			margin: 0 0 0 1rem;
			
			&.url {
				margin: 0;
			}
			
			&:before {
				@include icon-font;
				
				padding: 0 .3rem 0 0;
			}
			
			&.time:before {
				content: '\f133';
			}
			
			&.comment-edit-link:before {
				content: '\f044';
			}
			
			&.comment-reply-link:before {
				content: '\f112';
			}
		}
	}
	
	.comment {
		border: 0;
		border-left: $border;
		margin: 0 0 0 1rem;
		padding: 1rem;
	}
}

.moderating-comment {
	font: {
		size: smaller;
		style: italic;
	}
	
	margin: 1rem 0;
}

.pingback,
.trackback {
	@extend .comment;
}

.webcomic-transcribe-form {
	@extend .comment-form;
}

.webcomic-transcript-error,
.webcomic-transcript-success {
	font-size: smaller;
	font-style: italic;
	margin: 1rem 0 0;
}

.webcomic-transcript-authors:before {
	@include icon-font;
	
	content: '\f007';
	padding: 0 .3rem 0 1rem;
}

.webcomic-transcript-languages:before {
	@include icon-font;
	
	content: '\f1ab';
	padding: 0 .3rem 0 1rem;
}