body > a[href="#content"] {
	@include read-focus;
	
	&:focus,
	&:hover {
		display: block;
		padding: 1rem;
		text-align: center;
	}
}

.document-header,
.document-footer {
	margin: auto;
}

.wrapper {
	background: $background-color;
	box-shadow: 0 0 1rem rgba(0, 0, 0, $opacity / 4);
	margin: auto;
	padding: 1px;
	position: relative;
	
	a {
		color: $anchor-color;
		
		&:focus,
		&:hover {
			color: $text-color;
		}
	}
}

.content {
	@include clear;
	@include prefix-value(display, flex);
	@include prefix(flex-wrap, wrap);
	
	&:focus {
		outline: 0;
	}
	
	&-footer {
		@include prefix(order, 99);
	}
}

main,
.sidebar1,
.sidebar2,
.sidebar3 {
	display: none;
	padding: 1rem;
}

main {
	display: block;
}

.sidebar1 {
	@include prefix(order, 20);
}

.sidebar2 {
	@include prefix(order, 40);
}

.sidebar3 {
	@include prefix(order, 60);
}

.two-column {
	&.content-right main {
		@include prefix(order, 30);
	}
	
	.sidebar1 {
		display: block;
	}
}

.three-column {
	&.content-center main {
		@include prefix(order, 30);
	}
	
	&.content-right main {
		@include prefix(order, 50);
	}
	
	.sidebar1,
	.sidebar2 {
		display: block;
	}
}

.four-column {
	&.content-left main {
		@include prefix(order, 30);
	}
	
	&.content-right main {
		@include prefix(order, 50);
	}
	
	&.content-far-right main {
		@include prefix(order, 70);
	}
	
	.sidebar1,
	.sidebar2,
	.sidebar3 {
		display: block;
	}
}

.banner {
	position: relative;
	
	> a {
		color: $text-color;
		display: block;
		line-height: 1.4;
		padding: 0;
		white-space: normal;
		
		&:focus,
		&:hover {
			color: $text-color;
			opacity: $opacity;
		}
		
		&:active {
			opacity: $opacity / 2;
		}
	}
	
	h1 {
		line-height: 1;
		margin: 0;
		padding: 1rem 1rem 0 1rem;
	}
	
	p {
		line-height: 2;
		margin: 0;
		padding: 0 1rem 1rem 1rem;
	}
	
	nav {
		@include clear;
		
		background: $text-color;
		color: $background-color;
		position: relative;
		
		&:before {
			@include hide;
			@include icon-font;
			
			content: '\f0c9';
			line-height: 2.4;
			pointer-events: none;
			position: absolute;
			right: 1rem;
			top: 0;
		}
		
		a {
			color: $anchor-color;
			display: block;
			line-height: 2.4;
			padding: 0 1rem;
			white-space: pre;
			
			&:focus,
			&:hover {
				color: $background-color;
			}
		}
	}
	
	ul {
		list-style: none;
		transition: opacity .2s,
			visibility .2s;
		
		ul {
			background: $text-color;
			box-shadow: 0 0 1rem rgba(0, 0, 0, $opacity / 4);
			color: $background-color;
			opacity: 0;
			position: absolute;
			visibility: hidden;
			z-index: 99;
			
			ul {
				left: 100%;
				top: 0;
			}
		}
	}
	
	li {
		float: left;
		position: relative;
		
		&.open > ul,
		&:focus > ul,
		&:hover > ul {
			opacity: 1;
			visibility: visible;
		}
		
		&:focus > a,
		&:hover > a,
		&.current-menu-item > a,
		&.current_page_item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			color: $background-color;
		}
	}
	
	.menu-item-has-children,
	.page_item_has_children {
		> a:after {
			@include icon-font;
			
			content: '\f13a';
			margin: 0 0 0 .5rem;
		}
		
		.menu-item-has-children > a:after,
		.page_item_has_children > a:after {
			content: '\f138';
		}
	}
	
	select {
		@include hide;
		@include prefix(appearance, none);
		
		background: $text-color;
		border: 0;
		border-radius: 0;
		color: $background-color;
		cursor: pointer;
		line-height: 2.4;
		padding: 0 1rem;
	}
}

.contentinfo {
	background: $text-color;
	color: $background-color;
	line-height: 1;
	padding: 1rem;
	
	a {
		color: $anchor-color;
		
		&:focus,
		&:hover {
			color: $background-color;
		}
	}
}

form.search {
	input {
		width: 100%;
	}
}

.widgets {
	@include clear;
	
	aside {
		float: left;
		word-wrap: break-word;
		
		h2 {
			font-size: 100%;
			margin: 1rem 0;
		}
	}
	
	&.columns {
		&-1 aside {
			float: none;
		}
		
		@for $i from 2 through 10 {
			&-#{$i} aside {
				width: floor(percentage(1 / $i));
			}
		}
	}
}