.page {
	&-header h1:before {
		.search &,
		.archive & {
			@include icon-font;
			
			content: '\f187';
			padding: 0 .5rem 0 0;
		}
		
		.search & {
			content: '\f002';
		}
		
		.archive.author & {
			content: '\f007';
		}
		
		.archive.category & {
			content: '\f07c';
		}
		
		.archive.date & {
			content: '\f133';
		}
		
		.archive.tag &,
		.archive.taxonomy & {
			content: '\f02b';
		}
		
		.archive.post-type-archive-webcomic & {
			content: '\f1c5';
		}
		
		.archive.tax-webcomic_storyline & {
			content: '\f02d';
		}
		
		.archive.tax-webcomic_character & {
			content: '\f0c0';
		}
	}
	
	&-image {
		float: left;
		margin: 0 1rem 1rem 0;
		
		img {
			border-radius: .3rem;
		}
	}
	
	&-content {
		word-wrap: break-word;
		
		img {
			border-radius: .3rem;
		}
	}
	
	&-template-templatefull-width-php {
		main {
			@include prefix(order, 1);
		}
		
		main,
		.sidebar1,
		.sidebar2,
		.sidebar3 {
			width: 100%;
		}
	}
}

.contributor {
	@include clear;
	
	margin: 0 0 1rem;
	
	h2 {
		margin: 0;
	}
	
	&-image {
		float: left;
		margin: 0 1rem 1rem 0;
		
		img {
			border-radius: .3rem;
		}
	}
}