.first-post {
	display: block;
	font-size: larger;
	margin: 1rem;
	text-align: center;
	
	&:after,
	&:before {
		@include icon-font;
		
		content: '';
		padding: 0 1rem;
	}
}

.post {
	&-webcomic {
		width: 100%;
		
		nav {
			background: $text-color;
			color: $background-color;
			text-align: center;
			
			&.above {
				margin: 1px 0 0;
			}
			
			a {
				color: $anchor-color;
				font-size: 200%;
				
				&:focus,
				&:hover {
					color: $background-color;
				}
				
				&.current-webcomic {
					opacity: $opacity / 4;
				}
			}
		}
	
		.webcomic-image {
			overflow: auto;
			text-align: center;
	
			&.scroll img {
				max-width: none;
			}
		}
	}
	
	&-image {
		float: right;
		margin: 0 0 1rem 1rem;
		
		img {
			border-radius: .3rem;
		}
	}
	
	&-header {
		h1,
		h2 {
			margin: 0;
			word-wrap: break-word;
		}
		
		h2 {
			a:before {
				@include icon-font;
				
				padding: 0 .5rem 0 0;
				vertical-align: baseline;
				
				.format-audio & {
					content: '\f025';
				}
				
				.format-image &,
				.format-gallery & {
					content: '\f03e';
				}
				
				.format-video & {
					content: '\f03d';
				}
				
				.format-aside & {
					content: '\f036';
				}
				
				.format-status & {
					content: '\f141';
				}
				
				.format-link & {
					content: '\f08e';
				}
				
				.format-quote & {
					content: '\f10d';
				}
				
				.format-chat & {
					content: '\f0e6';
				}
				
				.sticky & {
					content: '\f192';
				}
			}
		}
	}
	
	&-details {
		font-size: smaller;
		
		a {
			margin: 0 0 0 1rem;
			
			&:first-child {
				margin: 0;
			}
			
			&:before {
				@include icon-font;
				
				padding: 0 .3rem 0 0;
			}
			
			&[rel="author"]:before {
				content: '\f007';
			}
			
			&[rel="bookmark"]:before {
				content: '\f133';
			}
			
			&[rel="gallery"]:before {
				content: '\f00a';
			}
			
			&[href*="#comments"]:before,
			&[href*="#respond"]:before,
			&[href*="#disqus"]:before {
				content: '\f086';
			}
			
			&.image:before {
				content: '\f03e';
			}
			
			&.post-edit-link:before {
				content: '\f044';
			}
			
			&[href$="prints"]:before {
				content: '\f0d6';
			}
			
			&[href*="?offset="]:before {
				content: '\f02e';
			}
		}
	}
	
	&-content {
		word-wrap: break-word;
		
		img {
			border-radius: .3rem;
			max-width: 100%;
		}
	}
	
	&-footer {
		border-bottom: $border;
		clear: both;
		font-size: smaller;
		margin: 0 0 1rem;
		padding: 0 0 1rem;
		
		span {
			color: $anchor-color;
			
			padding: 0 0 0 1rem;
			
			&:first-child {
				padding: 0;
			}
			
			&:before {
				@include icon-font;
				
				padding: 0 .3rem 0 0;
			}
			
			&.post-categories:before {
				content: '\f07c';
			}
			
			&.post-tags:before {
				content: '\f02b';
			}
			
			&.webcomic-collections:before {
				content: '\f1c5';
			}
			
			&.webcomic-storylines:before {
				content: '\f02d';
			}
			
			&.webcomic-characters:before {
				content: '\f0c0';
			}
		}
	}
}

.attachment,
.webcomic-prints {
	.post {
		&-image {
			float: none;
			margin: 0;
			text-align: center;
			
			img {
				border-radius: .3rem;
			}
		}
		
		&-excerpt {
			font-size: smaller;
			text-align: center;
		}
	}
	
	.webcomic-print-form {
		display: inline-block;
		margin: 0 1rem 1rem 0;
	}
}

.more-link:after {
	@include icon-font;
	
	content: '\f138';
}

nav {
	&.post-navigation,
	&.posts-navigation,
	&.image-navigation,
	&.comment-navigation {
		@include clear;
		
		clear: both;
		margin: 1rem 0;
		
		.nav-previous {
			float: left;
		}
		
		.nav-next {
			float: right;
		}
		
		img {
			margin: 0 0 1rem;
			transition: opacity .2s;
		}
		
		a:focus img,
		a:hover img {
			opacity: $opacity;
		}
	}
	
	&.pagination {
		clear: both;
		color: $anchor-color;
		margin: 1rem 0;
		text-align: center;
		
		a,
		.current {
			display: inline-block;
			padding: 0 .3rem;
		}
		
		&.post .nav-links:before {
			@include icon-font;
			
			content: '\f0c5';
			padding: 0 .3rem 0 0;
		}
	}
}

.webcomic-prints div {
	margin: 0 0 1rem;
}