$background-color: #fff;
$text-color: #000;
$anchor-color: #767676;
$opacity: .8;

$border: thin solid $anchor-color;

@mixin icon-font {
	font: 100%/1 awesome;
}

@mixin clear {
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin hide {
	display: none;
	visibility: hidden;
}

@mixin read {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin read-focus {
	@include read;
	
	&:focus,
	&:active {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@mixin prefix($property, $value...) {
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	-webkit-#{$property}: $value;
	#{$property}: $value;
}

@mixin prefix-value($property, $value) {
	#{$property}: -moz-#{$value};
	#{$property}: -ms-#{$value};
	#{$property}: -o-#{$value};
	#{$property}: -webkit-#{$value};
	#{$property}: $value;
}

@font-face {
	font-family: 'awesome';
	font-style: normal;
	font-weight: normal;
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot');
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff') format('woff'),
		url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf') format('truetype'),
		url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
	
}