.sticky {
	/* . */
}

.screen-reader-text {
	@include read;
}

.bypostauthor {
	border: $border;
}

.align {
	&none {
		margin: 1rem 0;
	}
	
	&center {
		display:block;
		margin: 0 auto 1rem;
	}
	
	&right {
		float: right;
		margin: 0 0 1rem 1rem;
	}
	
	&left {
		float: left;
		margin: 0 1rem 1rem 0;
	}
}

.wp {
	&-audio-shortcode {
		margin: 1rem 0;
	}
	
	&-caption {
		max-width: 100%;
		padding: .3rem;
		text-align: center;
		
		img {
			border-radius: .3rem;
		}
		
		&-text {
			font-size: smaller;
			margin: .5rem 0 0;
		}
	}
}

.gallery {
	@include clear;
	
	margin: auto;
	padding: .3rem;
	
	&-item {
		display: inline-block;
		margin: 0;
		padding: .3rem;
		text-align: center;
		vertical-align: top;
		
		.gallery-columns-1 & {
			display: block;
		}
		
		@for $i from 2 through 10 {
			.gallery-columns-#{$i} & {
				width: floor(percentage(1 / $i));
			}
		}
	}
	
	&-icon {
		line-height: 1;
		
		img {
			border-radius: .3rem;
			transition: opacity .2s;
		}
		
		a:focus img,
		a:hover img {
			opacity: $opacity;
		}
	}
	
	&-caption {
		font-size: smaller;
		margin: .5rem 0 0;
	}
}