/*
Theme Name: Inkblot Child
Theme URI: http://webcomicms.net/
Description: Make an impression with the original, highly customizable <a href="http://webcomicms.net/">Webcomic</a> theme.
Author: Michael Sisk
Version: 3
Template: inkblot
*/

/** Reset */
address,article,blockquote,body,caption,col,colgroup,dd,dialog,div,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,hr,nav,legend,li,menu,ol,p,pre,section,table,tbody,td,tfoot,th,thead,tr,ul,a,abbr,b,bdo,br,cite,code,del,dfn,em,i,ins,kbd,label,mark,meter,progress,q,rp,rt,ruby,samp,small,span,strong,sub,sup,time,var,audio,canvas,embed,figure,figcaption,iframe,img,math,object,svg,video {
	border:          0;
	margin:          0;
	outline:         0;
	padding:         0;
	border-spacing:  0;
	list-style:      none;
	color:           inherit;
	font-size:       inherit;
	font-style:      inherit;
	text-align:      inherit;
	font-weight:     inherit;
	font-family:     inherit;
	line-height:     inherit;
	text-decoration: inherit;
	vertical-align:  baseline;
	border-collapse: separate;
	background:      transparent; }
article,dialog,figure,figcaption,footer,header,hgroup,legend,nav,section { display: block; }

/** Basic Styling */
html                       { background: #f5f5f5; color: #333; font: 100%/1.5em 'helvetica neue', helvetica, arial, sans-serif; padding: 0 1.5em; }
a                          { color: #ccc; }
a:hover                    { color: #333; }
abbr                       { border-bottom: 1px dotted; cursor: help; }
b,dfn,strong               { font-weight: bolder; }
blockquote                 { margin: 0 3em; }
address,cite,em,i,var      { font-style: italic; }
code,kbd,pre,var,samp      { font-family: menlo, consolas, courier, monospace; }
del                        { text-decoration: line-through; }
ins                        { text-decoration: underline; }
mark                       { text-decoration: overline; }
pre                        { margin: 0 0 1.5em; white-space: pre-wrap; }
p                          { margin: 0 0 1.5em; }
small                      { font-size: smaller; }
sub                        { vertical-align: sub; }
sup                        { vertical-align: super; }
sub,sup                    { font-size: smaller; line-height: 0; }
h1                         { font-size: 200%; font-weight: bold; line-height: 1em; margin: 0 0 .75em; }
h2                         { font-size: 150%; font-weight: bold; line-height: 1em; margin: 0 0 1em; }
h3                         { font-size: 125%; font-weight: bold; line-height: 1em; margin: 0 0 1.2em; }
h4                         { font-size: 100%; font-weight: bold; line-height: 1em; margin: 0 0 1.5em; }
h5                         { font-size: 85%; font-weight: bold; line-height: 1em; margin: 0 0 1.75em; }
h6                         { font-size: 75%; font-weight: bold; line-height: 1em; margin: 0 0 2em; }
hr                         { clear: both; }
ol li                      { list-style: decimal; }
ul li                      { list-style: disc; }
menu li                    { list-style: circle; }
ol,ul,menu                 { margin: 0 0 1.5em 3em; }
ul ul,ul ol,ol ol,ol ul,dd { margin: 0 0 0 3em; }
dl,dialog                  { margin: 0 0 1.5em; }
dt                         { font-weight: bolder; }

/** Classes */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin: auto;
}

.clear {
	clear: both;
}

/** Structure */
#wrap {
	background: #fff;
	border-color: #333;
	border-style: solid;
	border-width: 0 1px;
	box-shadow: 0 0 2em rgba( 0, 0, 0, .2 );
	-moz-box-shadow: 0 0 2em rgba( 0, 0, 0, .2 );
	-webkit-box-shadow: 0 0 2em rgba( 0, 0, 0, .2 );
	margin: auto;
	overflow: hidden;
}

/** Header */
#header {}
	
	#header hgroup {
		display: table-cell;
		vertical-align: middle;
	}
		
		#header hgroup h1 {
			margin: 0 .25em;
			padding: 0 .5em;
		}
		
		#header hgroup h2 {
			font-style: italic;
			font-weight: normal;
			padding: 0 1em;
		}
		
	#header nav {
		background: #333;
		/*display: none; /* uncomment to hide the main menu */
		float: left;
		width: 100%;
	}
		
		#header nav ul {
			margin: 0;
		}
			
			#header nav ul li {
				float: left;
				list-style: none;
				position: relative;
			}
				
				#header nav ul li a {
					color: #ccc;
					display: block;
					padding: .25em .75em;
				}
				
				#header nav ul li:hover > a,
				#header nav ul li.current_page_item > a,
				#header nav ul li.current_page_ancestor > a,
				#header nav ul li.current-menu-item > a,
				#header nav ul li.current-menu-ancestor > a {
					background: #000;
					color: #fff;
				}
				
				#header nav ul li ul {
					background: rgba( 0, 0, 0, .8 );
					display: none;
					left: 0;
					position: absolute;
					top: 2em;
					z-index: 9999;
				}
				
				#header nav ul li:hover > ul {
					display: block;
				}
				
					#header nav ul li ul li {
						min-width: 10em;
					}
					
						#header nav ul li ul li ul {
							left: 100%;
							top: 0;
						}

/** Content */
#content {}
	
	#content > div {
		padding: 1.5em;
	}
		
		#content div .webcomic_post .webcomic.full {
			margin: -1.5em -1.5em 0;
		}
		
		#content div hr.webcomic {
			 border-bottom: 3px double #ccc;
			 margin: 0 0 1.5em;
		}

/** Navigation */
nav.paginated {
	font-size: larger;
	margin: 0 0 1.5em;
	text-align: center;
}

	nav.paginated a {
		font-weight: bold;
	}

nav.prevnext {
	border-bottom: 1px solid #ccc;
	float: left;
	font-size: larger;
	margin: 0 0 .75em;
	padding: 0 0 .75em;
	width: 100%;
}
	
	nav.prevnext a:last-child {
		float: right;
	}

	nav.prevnext a:first-child {
		float: left;
	}

.attachment nav.prevnext img {
	height: 80px;
	width: 80px;
}
	


/** Articles */
article {
	margin: 0 0 3em;
}

article.sticky {
	border: 1px double #ccc;
	padding: 1.5em 1.5em 0;
}
	
	article h1 {
		font-weight: normal;
		margin: 0 0 .25em;
	}
	
	article footer {
		color: #ccc;
		font-size: smaller;
		line-height: 1.5em;
		margin: 0 0 1.5em;
	}
	
	article .webcomic-embed-code {
		display: block;
		margin: 0 0 1.5em;
		width: 100%;
	}

.single-webcomicpost article .preview {
	text-align: center;
}

.webcomic-verify-age .content,
.webcomic-verify-fail .content {
	text-align: center;
}

/** Transcripts */
#transcripts {}
	
	#transcripts h1 {
		cursor: pointer;
		font-size: 100%;
		font-weight: bold;
		margin: 0 0 1.5em;
	}
	
	#transcripts article {
		display: none;
	}
	
		#transcripts article footer {
			border-bottom: 1px solid #ccc;
		}

/** Comments */
#comments {}
	
	#comments h1,
	#comments h3 {
		font-size: 100%;
		font-weight: bold;
		margin: 0 0 1.5em;
	}
	
		#comments h3 small {
			font-weight: normal;
			padding: 0 0 0 1.5em;
		}

	#comments article {
		border: 1px solid #ccc;
		padding: 1.5em;
	}
	
	#comments article.bypostauthor {
		border: 3px double;
	}
	
		#comments article footer {
			margin: -1.5em -1.5em 1.5em;
		}
		
			#comments article footer img {
				padding: 0 .75em 0 0;
				vertical-align: middle;
			}

/** Forms */
#transcribeform {}
	
	#transcribeform h2 {
		cursor: pointer;
		font-size: 100%;
		font-weight: bold;
		margin: 0 0 1.5em;
	}

	#transcribeform p {
		display: none;
		margin: 0 0 .75em;
	}
	
		#transcribeform p .required {
			padding: .25em;
		}
	
		#transcribeform p label {
			display: block;
			float: left;
			width: 4em;
		}
	
	#transcribeform .transcribe-before {
		display: none;
	}

	#transcribeform .webcomic-transcribe-language {
		margin: 0;
	}

		#transcribeform .webcomic-transcribe-language label {
			display: none;
		}

	#transcribeform .webcomic-transcribe-text {}

		#transcribeform .webcomic-transcribe-text label {
			display: none;
		}
		
		#transcribeform .webcomic-transcribe-text textarea {
			width: 100%;
		}
		
	#transcribeform dl {
		display: none;
	}

#commentform {}

	#commentform p {
		margin: 0 0 .75em;
	}
	
		#commentform p label {
			display: block;
			float: left;
			width: 4em;
		}
	
		#commentform p .required {
			padding: .25em;
		}
	
	#commentform .comment-notes {
		display: none;
	}

	#commentform .comment-form-comment {}
	
		#commentform .comment-form-comment label {
			display: none;
		}
		
		#commentform .comment-form-comment textarea {
			width: 100%;
		}

	#commentform .form-allowed-tags {
		display: none;
	}

.webcomic-purchase-form {}

	.webcomic-purchase-form input {
		float: left;
		margin: 0 .75em 0 0;
	}

/** Webcomics */
.home article.webcomic_post {}
	
	#webcomic nav {
		background: #333;
		color: #ccc;
		float: left;
		width: 100%;
	}
	
	#webcomic nav.above {
		border-top: 1px solid #fff;
		/*display: none; /* uncomment to hide the navigation above the webcomic */
	}
	
	#webcomic nav.below {
		/*display: none; /* uncomment to hide the navigation below the webcomic */
		margin: 0 0 1em;
	}
		
		#webcomic nav a {
			color: #ccc;
			float: left;
			font-weight: bold;
			line-height: 2em;
			text-align: center;
			width: 20%;
		}
		
		#webcomic nav a:hover {
			background: #000;
			color: #fff;
		}
			
		#webcomic nav a.current-webcomic {
			visibility: hidden;
		}
		
	#webcomic .webcomic-object {
		display: block;
		text-align: center;
	}
	
		#webcomic .webcomic-object img {
			vertical-align: bottom;
		}
	
/** Galleries */
article .gallery {
	border: 1px solid #ccc;
	margin: 0 0 1.5em;
	padding: .75em;
}

	article .gallery figure {
		float: left;
	}
	
		article .gallery figure a {
			float: left;
			padding: .75em;
		}
		
		article .gallery figure div {}
	
			article .gallery figure div img {
				vertical-align: bottom;
			}
	
	article .gallery hr {
		margin: .75em 0;
	}

/** Attachments */
article.attachment .attachment {
	text-align: center;
}

/** Characters */
.character-avatar {
	float: left;
	margin: 0 .75em .75em 0;
}

/** Sidebars & Widgetized Areas */
aside > div {
	padding: 1.5em;
}

	aside select,
	aside input {
		width: 100%;
	}

.widgetized figure {
	margin-bottom: 1.5em;
}

	.widgetized figure figcaption {
		border-top: 1px solid #ccc;
		font-size: smaller;
		font-weight: bold;
		padding: .25em;
	}
	
	.widgetized figure table {
		border: 1px solid #ccc;
		text-align: center;
		width: 100%;
	}
	
		.widgetized figure table tbody {}
		
			.widgetized figure table tbody tr:nth-child(even) {
				background: #eee;
			}
		
		.widgetized figure table thead {}
			
			.widgetized figure table thead tr {}
			
				.widgetized figure table thead tr th {
					border-bottom: 3px double #ccc;
					font-weight: bold;
				}
		
		.widgetized figure table tfoot {}
			
			.widgetized figure table tfoot tr {}
			
				.widgetized figure table tfoot tr td {
					border-top: 3px double #ccc;
					font-weight: bold;
				}
		
#today {
	border: 3px double;
}

/** Webcomic Archives */
table.webcomic-archive {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0 0 1.5em;
	text-align: center;
	width: 100%;
}

	table.webcomic-archive th {
		border: 3px double #ccc;
		font-weight: bold;
		padding: .75em 0;
	}
	
	table.webcomic-archive tr.alt {
		background: #f5f5f5;
	}
						
/** Footer */
#footer {
	background: #333;
	clear: both;
	color: #fff;
	padding: .25em .5em;
}
	
	#footer a {
		color: #ccc;
		font-weight: bold;
	}
	
	#footer a:hover {
		color: #fff;
	}